Домашнее задание. Урок 6.

1. Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks):
zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110],
ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832].
Найдите ковариацию этих двух величин с помощью элементарных действий, а затем с помощью функции cov из numpy
Полученные значения должны быть равны.
Найдите коэффициент корреляции Пирсона с помощью ковариации и среднеквадратичных отклонений двух признаков,
а затем с использованием функций из библиотек numpy и pandas.

In [6]:
import numpy as np

In [5]:
import pandas as pd

In [10]:
from pandas import DataFrame

In [1]:
from scipy import stats

In [2]:
zp = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110]) 
ks = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [3]:
np.cov(zp, ks, ddof=1)  #ковариация посчитаная через numpy

array([[ 3882.93333333, 10175.37777778],
       [10175.37777778, 33854.32222222]])

In [4]:
MX = zp.mean()
MY = ks.mean()

cov = ((zp - MX) * (ks - MY)).sum() / (zp.shape[0] - 1)
cov #ковариация через формулу

10175.37777777778

In [16]:
corr = cov / (np.std(zp,ddof = 1) * np.std(ks,ddof = 1))
corr  # коэффициент корреляции Пирсона посчитаный через ковариацию и СКО

0.8874900920739164

In [7]:
np.corrcoef(zp, ks) ## коэффициент корреляции Пирсона посчитаный numpy

array([[1.        , 0.88749009],
       [0.88749009, 1.        ]])

In [11]:
data={'zp': zp, 'ks': ks}
df=DataFrame(data)
df

    zp   ks
0   35  401
1   45  574
2  190  874
3  200  919
4   40  459
5   70  739
6   54  653
7  150  902
8  120  746
9  110  832

In [13]:
df.corr()  ## коэффициент корреляции Пирсона посчитаный pandas

         zp       ks
zp  1.00000  0.88749
ks  0.88749  1.00000

2. Измерены значения IQ выборки студентов,
обучающихся в местных технических вузах:
131, 125, 115, 122, 131, 115, 107, 99, 125, 111.
Известно, что в генеральной совокупности IQ распределен нормально.
Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [7]:
iq = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])

In [8]:
p=0.95

Построим доверительный интервал для мат. ожидания IQ студентов. Дисперсия неизвестна, и используем t-статистику.

In [9]:
n = iq.shape[0]
mean = iq.mean()
std = np.std(iq,ddof=1)
n, mean, std

(10, 118.1, 10.54566788359614)

Нужные нам квантили

In [13]:
alpha = 1 - p
t1 = stats.t.ppf(alpha / 2, df=n - 1)
t2 = stats.t.ppf(1 - alpha / 2, df=n - 1)
t1, t2

(-2.2621571627409915, 2.2621571627409915)

Доверительный интервал:

In [14]:
(mean + t1 * std / np.sqrt(n), mean + t2 * std / np.sqrt(n))

(110.55608365158724, 125.64391634841274)

In [ ]:
from matplotlib import pyplot as plt
plt.style.use('seaborn-whitegrid')

3. Известно, что рост футболистов в сборной распределен нормально
с дисперсией генеральной совокупности, равной 25 кв.см. Объем выборки равен 27,
среднее выборочное составляет 174.2. Найдите доверительный интервал для математического
ожидания с надежностью 0.95.

In [15]:
n, mean, D, p=27, 174.2, 25, 0.95

In [16]:
std=D**0.5

находим квантили для стандартного нормального распределения

In [18]:
alpha=1-p
t1 = stats.norm.ppf(alpha / 2)
t2 = stats.norm.ppf(1 - alpha / 2)
t1, t2

(-1.959963984540054, 1.959963984540054)

Построим доверительный интервал для мат. ожидания.

In [19]:
(mean + t1 * std / np.sqrt(n), mean + t2 * std / np.sqrt(n))

(172.3140237765397, 176.08597622346028)

4. Выберите тему для проектной работы по курсу Теории вероятностей и математической статистики
и напишите ее в комментарии к Практическому заданию.